<a href="https://colab.research.google.com/github/indraja512/python/blob/master/indu1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS

1.   WHILE LOOP
2.   FOR LOOP

In [67]:
#print the numbers from 1 to 10
#input=10
#output=1,2,3,4.......9,10
n=int(input("enter a number"))
i=1
while(i<=n):
  print(i)
  i=i+1

enter a number10
1
2
3
4
5
6
7
8
9
10

In [15]:
#print the sum of even numbers
n=int(input("enter a number"))
i=1
sum=0
while(i<n):
  if(i%2==0):
    sum=sum+i
  i=i+1
print(sum)

enter a number10
20

In [20]:
#print the numebr is palindrome or not
n=int(input("enter a number"))
t=n
r=0
sum=0
while(n>0):
  digit=n%10
  r=(r*10)+digit
  n=n//10
if(t==r):
  print("palindrome")
else:
  print("not palindrome")

enter a number121
palindrome

# functionalprogramming:

*   simple
*   easy to understand

*  better reusability
*   lengthy program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
  statements
  return

In [40]:
n=int(input("enter a number"))
def sumofevendigits(n):
  s=0
  while(n!=0):
    r=n%10
    if(r%2==0):
      s=s+r
    n=n//10
  return s
sumofevendigits(n)

enter a number128

10

In [47]:
n=int(input("enter number"))
def greatestdigit(n):
  larg=0
  while(n!=0):
    r=n%10
    if(larg<r):
     larg=r
    n=n//10
  return larg
greatestdigit(n)

enter number128

8

# for loop
syntax:

In [0]:
for i in range(start,stop,step):
  statements.

In [56]:
#print the numbers between Limits
#input:11 to 25
#output:11,12,13,14........25
def printseries(f,l):
  for i in range(f,l+1,5):
    print(i,end=" ")
  return
printseries(12,26)

12 17 22

#collection types

1.   List

1.   Tuple
2.  Dictionary 


2.   List item

# List

*   one of the datastructure in python

*   datastructure means to store,sort and search options.

*   It's one common data structure in python ,the items of list separated by comma and enclosed by square brackets.


1.List was immutable(i.e values we can change)


*   ex:
* list=[1,2,3,4]
* list=["jntua","cse"]

In [65]:
list1=[1,2,3,4,5]
print(list1[2])
print(list1[1:])
print(list1[1:4])
print(list1[-3:-1])

3
[2, 3, 4, 5]
[2, 3, 4]
[3, 4]

In [58]:
list1=["jntua","cse","17001A0512"]
print(list1[-2])

cse

In [59]:
list1=["jntua","cse","17001A0512"]
print(list1[-1])

17001A0512

In [71]:
#update list
list1=[1,"jntua",0,"cse",5]
print(list1)
list1[1]="cse"
print(list1)

[1, 'jntua', 0, 'cse', 5]
[1, 'cse', 0, 'cse', 5]

In [74]:
#delete list
list1=[1,2,3,4,5]
del (list1[2])
print(list1)

[1, 2, 4, 5]

In [85]:
#length of list
list1=[1,2,3,4,5]
print(len(list1))
print(list1*2)
print(4 in list1)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True

#List functions

*  max
*   min

*   sum
*   append

*    insert
*   count
*    index
* sort
* pop